<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuário</title>
    <link rel="stylesheet" th:href="@{/css/perfil.css}">
</head>
<body class="dark-theme">

<div class="container">
    <form th:action="@{/editarPerfil(id=${usuarioLogadoId})}" th:object="${dtoPerfil}" id="profile-form" method="post">

        <!-- Campos do formulário -->

        <div>
            <label for="usuario">Usuário</label>
            <input type="text" th:field="*{usuario}" id="usuario" required/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}">Usuário Error</div>
        </div>

        <div>
            <label for="nome">Nome</label>
            <input type="text" th:field="*{nome}" id="nome" required/>
            <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome Error</div>
        </div>

        <div class="input-group">
            <label for="username">Email<i class="fas fa-user"></i></label>
            <input th:errorclass="is-invalid" type="text" id="username" name="username" th:field="*{email}" required/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <!-- Outros campos do dtoPerfil -->

        <div class="buttons">
            <button type="submit">Salvar</button>
            <button type="button" onclick="goBack()">Voltar</button>
            <a class="botao-sair" th:href="@{/delete(id=${usuarioLogadoId})}">
                <button type="button">Sair</button>
            </a>
        </div>
    </form>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

</body>
</html>
